@import '../style/imports';

$sidebar-padding: .5em;
$border: 1px solid rgba(255,255,255,0.1);

%statusable {
  &::after {
    content: ' ';
    background-color: #27ae60;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 50%;
    width: 7px;
    height: 7px;
    margin-bottom: 2px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
  }
}

.sidebar {
  @include display(flex);
  @include flex-flow(column nowrap);
  @include flex-basis(200px);
  border-right: 1px solid #ddd;
  background-color: #454545;
  color: #efefef;
}

.header {
  @include flex(0);
  padding: $sidebar-padding;
  display: block;
  margin-bottom: 0;
}

.memberList {
  @include flex(1);
  border-top: $border;
  li {
    padding: .5em;
    @extend %statusable
  }
}

.wrapper {
  @include display(flex);
  @include align-items(center);
  height: 40px;
}

.setUser {
  @include align-self(flex-end);
  @include flex-basis(40px);
  position: relative;
  width: 100%;
  border-top: $border;

  input {
    @include flex(1);
    @include appearance(none);
    border-top: $border;
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-size: 1em;
    padding: 0 .5em;
    font-family: $base-font-family;
    height: 100%;

    &:focus {
      outline: none;
      border-top-color: $blue;
    }
  }
}

.changeUserButton {
  color: cornflowerblue;
  font-size: .7em;
}

.currentUser {
  margin: 0 .5em;
  @extend %statusable;
}

